body {
  margin: 0;
  padding: 0;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  cursor: pointer;
}

header {
  width: 100%;
  height: 65px;
}

header nav {
  display: flex;
  justify-content: flex-end;
}

header nav .nav-right-section {
  width: 250px;
  height: auto;
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
}

header nav .nav-right-section a {
  margin-right: 10px;
  color: #000000;
}

nav .nav-right-section .menu-icon {
  background-image: url("/assets/dots.png");
}
